[package]
org = "ballerina"
name = "protobuf"
version = "@toml.version@"
authors = ["Ballerina"]
keywords = ["wrappers"]
repository = "https://github.com/ballerina-platform/module-ballerina-protobuf"
icon = "icon.png"
license = ["Apache-2.0"]
distribution = "2201.7.0"
export = ["protobuf", "protobuf.types.any", "protobuf.types.duration", "protobuf.types.empty", "protobuf.types.struct", "protobuf.types.timestamp", "protobuf.types.wrappers"]

[platform.java17]
graalvmCompatible = true

[[platform.java17.dependency]]
groupId = "io.ballerina.stdlib"
artifactId = "protobuf-native"
version = "@toml.version@"
path = "../native/build/libs/protobuf-native-@project.version@.jar"

[[platform.java17.dependency]]
path = "./lib/protobuf-java-@protobuf.java.version@.jar"
